
WebCrawler/bin/Debug/

WebCrawler/packages.config

\.vs/WebCrawler/v14/\.suo

WebCrawler/obj/Debug/

\.vs/WebCrawler/v14/

WebCrawler/Resources/StopWords\.txt

WebCrawler/Resources/Symbols\.txt

WebCrawler/obj/
